<template>
  <div class="container">
    <ListMemes/>
  </div>
</template>

<script>
import ListMemes from './components/ListMemes'

export default {
  name: "App",
  components:{
    ListMemes
  }
};
</script>

