<template>
  <h1>Estamos en Game</h1>
  <p>{{$route.params.name}}</p>
  <button @click="load">Cargar</button>
</template>

<script>
import {useRoute, useRouter} from "vue-router"
export default {
    setup(){
        const route = useRoute();
        const router = useRouter();
        console.log(route.params)
        console.log(router)

        const load = () =>{
            setTimeout(() => {
                console.log("Volviendo al Home");
                router.push("/");
            }, 3000);
        };

        return {load}
    }
}
</script>

<style>

</style>