<template>
  <h2>Componente Auto</h2>
  <p>Brand: {{brand}}</p>
  <p>Model: {{model}}</p>
  <p>Colors:</p>
  <ul>
      <li v-for="color in colors" :key="color">
          {{color}}
      </li>
      <li v-for="(color,index) in colors">
          {{index}} {{color}}
      </li>
  </ul>  
  <p>Powers:</p>
  <ul>
      <template v-for="power in powers" :key="power">
          <li v-if="power < 300">Urbana: {{power}}</li>
          <li v-else-if="power === 420">Hibrida: {{power}}</li>
          <li v-else>Carrera: {{power}}</li>
      </template>
  </ul>
  <span>Portencia {{potencia}}</span>
  <button @click="upPotencia">Aumentar Potencia</button>
  <button @click="downPotencia">Disminuir Potencia</button>
</template>

<script>
//import {ref} from 'vue';
export default {
    props:{
        potencia: {
            type:Number,
            default:60
        },
        upPotencia:Function,
        downPotencia: Function
    },
    setup(props){
        console.log("props ",props)
       /* const upPotencia = () =>{
            console.log("Aumentar Potencia...")
            potencia.value ++;
        };

        const downPotencia = () =>{
            console.log("Disminuir Potencia...")
            potencia.value --; 
        };*/

        const brand = "Audi"; 
        const model = "A4";
        const colors = ["Azul", "Morado", "Marron","Amarillo"];
        const powers = [240, 320, 210, 150, 420, 590, 740]; 
        //let potencia = ref(40);

       // return{brand,model,colors,powers,potencia, upPotencia, downPotencia}
        return{brand,model,colors,powers}

    }

}
</script>