<template>
  <h1>Vue JS</h1>
  <Auto :potencia="potencia" :upPotencia="upPotencia" :downPotencia="downPotencia"/>
</template>

<script>
import {ref} from 'vue';

import Auto from "./components/Auto"
export default {
  components:{
    Auto
  },
  setup(){
    let potencia = ref(30);
    const upPotencia = () =>{
          console.log("Aumentar Potencia...")
          potencia.value ++;
    };

    const downPotencia = () =>{
          console.log("Disminuir Potencia...")
          potencia.value --; 
    };

return {potencia,upPotencia, downPotencia}
  }
}
</script>